<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Végső projekt</title>
</head>
<body>
    <header>
        <h1>Nguyen Duc Bao</h1>
        <nav>


            <a href = "http://www.gmail.com">One</a>
            <a href = "http://www.facebook.com">Two222</a>
            <a href = "http://www.google.com">Th3ree</a>
            <a href = "http://www.github.com/ammaritiz">Gith3ub</a><br>
   
   
        </nav>
   
   
    </header>
    <section>
        <h2>Kedvenc Ételek</h2>
        <ul>
            <li>Beef</li>
            <li>Phan Hieu Nghia</li>
            <li>
                Legyen Xuan Mike loz </li>
         
            <li>
                Ördög</li>
        </ul>
    </section>
    <section>
    
    
    
        <h2>Eredmények</h2>
        Haladás ezen a tanfolyamon (100%)
        <progress value="100" max="100"></progress>
        <br>
        Előrehaladás a specializáció tetőpontjában (20%)
        <progress value="20" max="100"></progress>
        <br>
       
Haladás az életcélok terén (25%)
        <progress value="25" max="100"></progress>
    </section>
    <section>
        <h2>Bővebben rólam</h2>
        <details>
            <summary>Gyerekkorom</summary>I grew up in Mumbai.I lived in a small house and I really miss the fun which I had back then.
        </details>
    </section>
    <footer>
        <img src="http://www.intro-webdesign.com/images/newlogo.png" alt="Web Design For Everyone">
        
Ezt az oldalt Ammar &amp; Colleen van Lent.
Ha többet szeretne megtudni a webdesignról, látogasson el ide
        <a href="http://www.intro-webdesign.com/">
            Bevezetés a webdesignba</a>
    </footer>
</body>
</html>