.arrow {
    position: absolute;
    top: 50%;
  }
  
  .right {
    right: 0;
  }
  
  .left {
    left: 0;
  }
  
 .slide{
    max-width: 80vw;
 }
 .react-multi-carousel-item{
    width: calc((60vw) / 2 )!important;
 }