body {
    margin: 0;
    overflow: overlay;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro'), url('./assets/fonts/GTWalsheimPro-Regular.woff2') format('woff2');
    line-height: 150%;
}

@font-face {
    font-family: 'GT Walsheim Pro Black';
    src: local('GT Walsheim Pro Black'),
        url('./assets/fonts/GTWalsheimPro-Black.woff2') format('woff2');
    line-height: 150%;
}

* {
    font-family: 'GT Walsheim Pro', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'GT Walsheim Pro Black', Arial, Helvetica, sans-serif;
}

.slick-slide img {
    width: 100%;
    border-radius: 15px;
}

/* Scrollbar */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

/* Selection */
::selection {
    color: #fff;
    background: #45ce7c;
}

a {
    text-decoration: none;
}


/* Scrollbar */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

/* Selection */
::selection {
    color: #fff;
    background: #45ce7c;
}

a {
    text-decoration: none;
}
@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}